{% extends 'cve_user/base/base.html' %}

{% block content %}
{% load static %}

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>My Properties</h1>
            <div class="section-header-breadcrumb">
              <div class="breadcrumb-item active"><a href="{% url 'cvapp:home' %}">Dashboard</a></div>
              <div class="breadcrumb-item">My Properties</div>
            </div>
          </div>

          <div class="section-body">
            <!-- <h2 class="section-title">My Properties</h2> -->
            <p class="section-lead">
              Here is a list of all the properties you own.
            </p>

            <div class="row">
              <div class="col-12 col-sm-4 col-lg-4">
                <div class="card card-warning">
                  <div class="card-header">
                    <h4>CVE-001</h4>
                    <div class="card-header-action">
                      <span title="Purchase price">&#8358;63.45M</span>
                      <!-- <a href="#" class="btn btn-primary">View All</a>
                      <br>&#8358;63M -->
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="chocolat-parent">
                      <!-- <a href="{% static '/img/login-bg1.jpg' %}" title="Just an example"> -->
                        <div data-crop-image="">
                          <img alt="image" src="{% static '/img/login-bg1.jpg' %}" class="img-fluid">
                        </div>
                      <!-- </a> -->
                    </div>
                    <div class="mt-2 mb-2 text-muted"><b>Location: <br></b>Sango tedo</div>
                    <div class="mt-2 text-muted">
                      <b>Completion rate: </b>
                      <div class="progress mt-2 mb-1">
                        <div class="progress-bar bg-cve" role="progressbar" data-width="80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                      </div>
                    </div>
                    <div class="mt-4 mb-0 text-muted">
                      <b>Amount left: </b>
                      <div class="mt-0">
                        <div class="budget-price">
                          <div class="budget-price-square price-pry" data-width="80%"></div>
                          <div class="budget-price-label">&#8358;12.5M</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-whitesmoke">
                    <a href="#" class="card-link">View Details</a>
                  </div>
                </div>
              </div>
            </div>

          
          </div>
        </section>
      </div>
{% endblock %}

{% block page_js %} 
  <!-- Page Specific JS File -->
  <script src="{% static 'js/page/index.js' %}"></script>
{% endblock %}
