{% extends 'user/base/base.html' %}

{% block content %}
{% load static %}

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Project updates</h1>
            <div class="section-header-button">
              <a href="{% url 'cvapp:addPUpdate' %}" class="btn btn-cve">New Update</a>
            </div>
            <div class="section-header-breadcrumb">
              <div class="breadcrumb-item active"><a href="{% url 'cvapp:home' %}">Dashboard</a></div>
              <div class="breadcrumb-item">Project updates</div>
            </div>
          </div>

          <div class="section-body">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <h4>All Updates</h4>
                    <div class="card-header-action">
                      <select class="form-control selectric">
                        <option>Selected</option>
                        <option>Change to Sold</option>
                        <option>Change to Not Sold</option>
                      </select>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <tr>
                          <th>Description</th>
                          <th>Images</th>
                          <th>Created On</th>
                          <th>Added By</th>
                        </tr>
                        <tr>
                          <td>The Citadel Views Estate is commissioned today at Sangotedo consisting of 175 apartments with a total of 525 rooms and 350 units of car parking space, all on 33,900 square meters of land.
                            <div class="table-links">
                              <a href="#">Edit</a>
                              <div class="bullet"></div>
                              <a href="#" class="text-danger">Delete</a>
                            </div>
                          </td>
                          <td>
                            <div class="gallery">
                              <div class="gallery-item" data-image="{% static '/img/CVE-008.webp' %}" data-title="Image 1"></div>
                              <div class="gallery-item" data-image="{% static '/img/CVE-006.webp' %}" data-title="Image 2"></div>
                              <div class="gallery-item" data-image="{% static '/img/CVE-004.webp' %}" data-title="Image 3"></div>
                              <div class="gallery-item" data-image="{% static '/img/CVE-007.webp' %}" data-title="Image 4"></div>
                            </div>
                          </td>
                          <td class="font-weight-600">10.Oct.2021</td>
                          <td>Bola</td>
                        </tr>
                        {% if p_updates %}
                        {% for p_update in p_updates %}
                        <tr>
                          <td>{{ p_update.desription }}
                            <div class="table-links">
                              <a href="#">Edit</a>
                              <div class="bullet"></div>
                              <a href="#" class="text-danger">Delete</a>
                            </div>
                          </td>
                          <td>
                            <!-- <img src="{{p_update.update_images.url}}" alt="Smiley face" width="250" height="250"> -->
                            <div class="gallery">
                              <div class="gallery-item" data-image="{{ p_update.update_images.url }}" data-title="Update image {{ p_update.id }}"></div>
                            </div>
                          </td>
                          <td class="font-weight-600">{{ p_update.update_date }}</td>
                          <td>{{ p_update.added_by }}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                      </table>
                    </div>
                    <hr>
                    {% if p_updates.has_other_pages %}
                    <div class="float-right">
                      <nav>
                        <ul class="pagination">
                          {% if p_updates.has_previous %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ owners.previous_page_number }}" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          {% else %}
                          <li class="page-item">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                          </li>
                          {% endif %}
                          {% for i in p_updates.paginator.page_range %}
                            {% if p_updates.number == i %}
                              <li class="page-item active">
                                <a class="page-link" href="#">{{ i }}</a>
                              </li>
                            {% else %}
                              <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                              </li>
                            {% endif %}
                          {% endfor %}
                          {% if page_obj.has_next %}
                            <li class="page-item">
                              <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                              </a>
                            </li>
                          {% else %}
                            <li class="page-item">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </li>
                          {% endif %}
                        </ul>
                      </nav>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
{% endblock %}

{% block page_js %} 
  <!-- Page Specific JS File -->
  <script src="{% static 'js/page/index.js' %}"></script>
{% endblock %}
