{% extends 'user/base/base.html' %}

{% block content %}
{% load static %}

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>CVE Properties</h1>
            <div class="section-header-button">
              <a href="{% url 'cvapp:addProp' %}" class="btn btn-cve">Create New</a>
            </div>
            <div class="section-header-breadcrumb">
              <div class="breadcrumb-item"><a href="{% url 'cvapp:home' %}">Dashboard</a></div>
              <div class="breadcrumb-item">Properties</div>
            </div>
          </div>
          <div class="section-body">
            <h2 class="section-title">Property</h2>
            <p class="section-lead" >
              Manage properties here
            </p>
            <div class="row">
              {% for property in properties %}
              <div class="col-12 col-sm-4 col-lg-4">
                <div class="card card-warning">
                  <div class="card-header">
                    <h4>CVE-001</h4>
                    <div class="card-header-action">
                      <span title="Purchase price">&#8358;63.45M</span>
                      <!-- <a href="#" class="btn btn-primary">View All</a>
                      <br>&#8358;63M -->
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="chocolat-parent">
                      <!-- <a href="{% static '/img/login-bg1.jpg' %}" title="Just an example"> -->
                        <div data-crop-image="">
                          <img alt="image" src="{% static '/img/login-bg1.jpg' %}" class="img-fluid">
                        </div>
                      <!-- </a> -->
                    </div>
                    <div class="mt-2 mb-2 text-muted"><b>Location: </b><br>{{ property.street_info }}</div>
                    <div class="mt-2 text-muted">
                      <b>Description: </b><br>
                      {{ property.desription }}
                      <!-- <div class="progress mt-2 mb-1">
                        <div class="progress-bar bg-cve" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                      </div> -->
                    </div>
                    <div class="mt-4 mb-0 text-muted">
                      <b>Amount left: </b>
                      <div class="mt-0">
                        <div class="budget-price">
                          <div class="budget-price-square price-pry" data-width="50%"></div>
                          <div class="budget-price-label">&#8358;32.7M</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-whitesmoke">
                    <a href="{% url 'cvapp:propView' id='Things' %}" class="card-link">View Details</a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            

            <div class="row">
              <div class="col-12">
                <div class="card mb-0">
                  <div class="card-body">
                    <ul class="nav nav-pills">
                      <li class="nav-item">
                        <a class="nav-link active" href="#">All <span class="badge badge-white">5</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Sold <span class="badge badge-cve-pry">1</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Not Sold <span class="badge badge-cve">0</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>All Properties</h4>
                  </div>
                  <div class="card-body">
                    <div class="float-left">
                      <select class="form-control selectric">
                        <option>Selected</option>
                        <option>Change to Sold</option>
                        <option>Change to Not Sold</option>
                      </select>
                    </div>
                    <div class="float-right">
                      <form>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search">
                          <div class="input-group-append">
                            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                          </div>
                        </div>
                      </form>
                    </div>

                    <div class="clearfix mb-3"></div>

                    <div class="table-responsive">
                      <table class="table table-striped">
                        <tr>
                          <th class="pt-2">
                            <div class="custom-checkbox custom-checkbox-table custom-control">
                              <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="checkbox-all">
                              <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                            </div>
                          </th>
                          <th>Property Name</th>
                          <th>Quantity</th>
                          <th># Assigned</th>
                          <th>Price</th>
                          <th>Added By</th>
                          <th>Created On</th>
                          <th>Status</th>
                        </tr>
                        <tr>
                          <td>
                            <div class="custom-checkbox custom-control">
                              <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-2">
                              <label for="checkbox-2" class="custom-control-label">&nbsp;</label>
                            </div>
                          </td>
                          <td>CVE-87239
                            <div class="table-links">
                              <a href="#">View</a>
                              <div class="bullet"></div>
                              <a href="#" class="text-danger">Delete</a>
                            </div>
                          </td>
                          <td class="align-middle">
                          <div class="media-progressbar">
                            <div class="progress-text">100%</div>
                            <div class="progress" data-height="4">
                              <div class="progress-bar bg-cve" data-width="100%"></div>
                            </div>
                          </div>
                          </td>
                          <td class="font-weight-600">&#8358;63M</td>
                          <td>Chevron Drive</td>
                          <td>Buhari</td>
                          <td>01-10-2018</td>
                          <td><div class="badge badge-cve-pry">Sold</div></td>
                        </tr>
                        <tr>
                          <td>
                            <div class="custom-checkbox custom-control">
                              <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-2">
                              <label for="checkbox-2" class="custom-control-label">&nbsp;</label>
                            </div>
                          </td>
                          <td>CVE-87239
                            <div class="table-links">
                              <a href="#">View</a>
                              <div class="bullet"></div>
                              <a href="#" class="text-danger">Delete</a>
                            </div>
                          </td>
                          <td class="align-middle">
                            <div class="media-progressbar">
                              <div class="progress-text">50%</div>
                              <div class="progress" data-height="4">
                                <div class="progress-bar bg-cve" data-width="50%"></div>
                              </div>
                            </div>
                          </td>
                          <td class="font-weight-600">&#8358;63M</td>
                          <td>Chevron Drive</td>
                          <td>Buhari</td>
                          <td>01-10-2018</td>
                          <td><div class="badge badge-cve">Not Sold</div></td>
                        </tr>
                        <tr>
                          <td>
                            <div class="custom-checkbox custom-control">
                              <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-2">
                              <label for="checkbox-2" class="custom-control-label">&nbsp;</label>
                            </div>
                          </td>
                          <td>CVE-87239
                            <div class="table-links">
                              <a href="#">View</a>
                              <div class="bullet"></div>
                              <a href="#" class="text-danger">Delete</a>
                            </div>
                          </td>
                          <td class="align-middle">
                            <div class="media-progressbar">
                              <div class="progress-text">80%</div>
                              <div class="progress" data-height="4">
                                <div class="progress-bar bg-cve" data-width="80%"></div>
                              </div>
                            </div>
                          </td>
                          <td class="font-weight-600">&#8358;63M</td>
                          <td>Chevron Drive</td>
                          <td>Buhari</td>
                          <td>01-10-2018</td>
                          <td><div class="badge badge-cve">Not Sold</div></td>
                        </tr>
                        <tr>
                          <td>
                            <div class="custom-checkbox custom-control">
                              <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-2">
                              <label for="checkbox-2" class="custom-control-label">&nbsp;</label>
                            </div>
                          </td>
                          <td>CVE-87239
                            <div class="table-links">
                              <a href="#">View</a>
                              <div class="bullet"></div>
                              <a href="#" class="text-danger">Delete</a>
                            </div>
                          </td>
                          <td class="align-middle">
                            <div class="media-progressbar">
                              <div class="progress-text">20%</div>
                              <div class="progress" data-height="4">
                                <div class="progress-bar bg-cve" data-width="20%"></div>
                              </div>
                            </div>
                          </td>
                          <td class="font-weight-600">&#8358;63M</td>
                          <td>Chevron Drive</td>
                          <td>Buhari</td>
                          <td>01-10-2018</td>
                          <td><div class="badge badge-cve">Not Sold</div></td>
                        </tr>
                      </table>
                    </div>
                    <div class="float-right">
                      <nav>
                        <ul class="pagination">
                          <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#">2</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#">3</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        {% endblock %}

        {% block page_js %} 
          <!-- Page Specific JS File -->
          <script src="{% static 'js/page/features-posts.js' %}"></script>
        {% endblock %}
